@media ( min-width : 320px ) and ( max-width : 480px ) {

  body {
    background-image: url('../imagens/exchange4.jpg');
    background-size: 105%;
  }

  .paiLogin {
    align-items: center;
    backdrop-filter: blur(3px);
    background: rgba(116, 115, 115, 0.669);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 8px;
    box-shadow: 0 10px 32px 10px rgba(31, 38, 135, 0.37);
    display: flex;
    flex-direction: column;
    height: 350px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    width: 80%;
  }

  .imgLogo {
    margin: 40px 0;
    width: 230px;
  }

  .emailInput , .senhaInput {
    border: 2px solid blue;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
    width: 230px;
  }


  .btnEntrar {
    background: blue;
    border: 0 solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    color: white;
    cursor: pointer;
    font: Tahoma, Geneva, sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin: 5px 15px;
    padding: 10px;
    width: 250px;
  }

  .btnEntrar:disabled {
    background-color: rgb(3, 3, 109);
    color: rgb(96, 96, 96);
  }
}

@media ( min-width : 481px ) and ( max-width : 600px ) {

  body {
    background-image: url('../imagens/exchange4.jpg');
    background-position: center -20px;
    background-size: 100%;
  }

  .paiLogin {
    align-items: center;
    backdrop-filter: blur(3px);
    background: rgba(116, 115, 115, 0.669);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 8px;
    box-shadow: 0 10px 32px 10px rgba(31, 38, 135, 0.37);
    display: flex;
    flex-direction: column;
    height: 400px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    width: 80%;
  }

  .imgLogo {
    margin: 55px 0;
    width: 70%;
  }

  .emailInput , .senhaInput {
    background-color: white;
    border: 2px solid blue;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
    width: 290px;
  }

  .btnEntrar {
    background: blue;
    border: 0 solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    margin: 10px 20px;
    padding: 12px;
    width: 320px;
  }

  .btnEntrar:disabled {
    background-color: rgb(3, 3, 109);
    color: rgb(96, 96, 96);
  }

  .btnEntrar:hover {
    box-shadow: 0 3px 5px 1px black;
    transform: scale(1.02);
  }

  .btnEntrar:hover:disabled {
    box-shadow: 2px 2px 5px black;
    transform: scale(1);
  }
}

@media ( min-width : 601px ) and ( max-width : 800px ) {

  body {
    background-image: url('../imagens/exchange4.jpg');
    background-position: center -20px;
    background-size: 110% 165%;
  }

  .paiLogin {
    align-items: center;
    backdrop-filter: blur(3px);
    background: rgba(116, 115, 115, 0.669);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 8px;
    box-shadow: 0 10px 32px 10px rgba(31, 38, 135, 0.37);
    display: flex;
    flex-direction: column;
    height: 440px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    width: 75%;
  }

  .imgLogo {
    margin: 50px 0;
    width: 70%;
  }

  .labelpai {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .emailInput , .senhaInput {
    background-color: white;
    border: 2px solid blue;
    border-radius: 5px;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 10px;
    width: 110%;
  }

  .btnEntrar {
    background: blue;
    border: 0 solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    color: white;
    cursor: pointer;
    font-size: 22px;
    font-weight: 900;
    margin: 10px 20px;
    padding: 15px;
    width: 395px;
  }

  .btnEntrar:disabled {
    background-color: rgb(3, 3, 109);
    color: rgb(96, 96, 96);
  }

  .btnEntrar:hover {
    box-shadow: 0 3px 5px 1px black;
    transform: scale(1.02);
  }

  .btnEntrar:hover:disabled {
    box-shadow: 2px 2px 5px black;
    transform: scale(1);
  }
}

@media ( min-width : 801px ) and ( max-width : 1023px ) {

  body {
    background-image: url('../imagens/exchange4.jpg');
    background-position: center -20px;
    background-size: 110% 200%;
  }

  .paiLogin {
    align-items: center;
    backdrop-filter: blur(3px);
    background: rgba(116, 115, 115, 0.669);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 8px;
    box-shadow: 0 10px 32px 10px rgba(31, 38, 135, 0.37);
    display: flex;
    flex-direction: column;
    height: 500px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    width: 75%;
  }

  .imgLogo {
    margin: 50px 0;
    width: 70%;
  }

  .labelpai {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .emailInput , .senhaInput {
    background-color: white;
    border: 2px solid blue;
    border-radius: 5px;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 15px;
    width: 120%;
  }

  .btnEntrar {
    background: blue;
    border: 0 solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    color: white;
    cursor: pointer;
    font-size: 22px;
    font-weight: 900;
    margin: 10px 20px;
    padding: 20px;
    width: 61%;
  }

  .btnEntrar:disabled {
    background-color: rgb(3, 3, 109);
    color: rgb(96, 96, 96);
  }

  .btnEntrar:hover {
    box-shadow: 0 3px 5px 1px black;
    transform: scale(1.02);
  }

  .btnEntrar:hover:disabled {
    box-shadow: 2px 2px 5px black;
    transform: scale(1);
  }
}

@media ( min-width : 1024px ) {

  body {
    background-image: url('../imagens/exchange3.jpg');
    background-position: center -20px;
    background-size: 100%;
  }

  .paiLogin {
    align-items: center;
    backdrop-filter: blur(3px);
    background: rgba(116, 115, 115, 0.669);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 8px;
    box-shadow: 0 10px 32px 10px rgba(31, 38, 135, 0.37);
    display: flex;
    flex-direction: column;
    height: 440px;
    margin: 0 auto;
    margin-top: 180px;
    text-align: center;
    width: 650px;
  }

  .imgLogo {
    margin: 60px 0;
    width: 390px;
  }

  .emailInput , .senhaInput {
    background-color: white;
    border: 1px solid blue;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
    width: 400px;
  }

  .btnEntrar {
    background: blue;
    border: 0 solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    color: white;
    cursor: pointer;
    font: Tahoma, Geneva, sans-serif;
    font-size: 24px;
    font-weight: 900;
    margin: 10px 20px;
    padding: 15px;
    width: 420px;
  }

  .btnEntrar:disabled {
    background-color: rgb(3, 3, 109);
    color: rgb(96, 96, 96);
  }

  .btnEntrar:hover {
    box-shadow: 0 3px 5px 1px black;
    transform: scale(1.02);
  }

  .btnEntrar:hover:disabled {
    box-shadow: 2px 2px 5px black;
    transform: scale(1);
  }
}
