@media ( min-width : 320px ) and ( max-width : 374px ) {

  body {
    background-image: url('../imagens/exchange4.jpg');
    background-size: 105%;
  }

  .paiLogin {
    align-items: center;
    backdrop-filter: blur(3px);
    background: rgba(116, 115, 115, 0.669);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 8px;
    box-shadow: 0 10px 32px 10px rgba(31, 38, 135, 0.37);
    display: flex;
    flex-direction: column;
    height: 350px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    width: 90%;
  }

  .imgLogo {
    margin: 40px 0;
    width: 230px;
  }

  .emailInput , .senhaInput {
    border: 2px solid blue;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
    width: 230px;
  }


  .btnEntrar {
    background: blue;
    border: 0 solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    color: white;
    cursor: pointer;
    font: Tahoma, Geneva, sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin: 5px 15px;
    padding: 10px;
    width: 250px;
  }

  .btnEntrar:disabled {
    background-color: rgb(3, 3, 109);
    color: rgb(96, 96, 96);
  }
}

@media ( min-width : 375px ) and ( max-width : 424px ) {

  body {
    background-image: url('../imagens/exchange4.jpg');
    background-size: 105%;
  }

  .paiLogin {
    align-items: center;
    backdrop-filter: blur(3px);
    background: rgba(116, 115, 115, 0.669);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 8px;
    box-shadow: 0 10px 32px 10px rgba(31, 38, 135, 0.37);
    display: flex;
    flex-direction: column;
    height: 350px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    width: 90%;
  }

  .imgLogo {
    margin: 40px 0;
    width: 240px;
  }

  .emailInput , .senhaInput {
    border: 2px solid blue;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
    width: 240px;
  }


  .btnEntrar {
    background: blue;
    border: 0 solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    color: white;
    cursor: pointer;
    font: Tahoma, Geneva, sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin: 5px 15px;
    padding: 10px;
    width: 260px;
  }

  .btnEntrar:disabled {
    background-color: rgb(3, 3, 109);
    color: rgb(96, 96, 96);
  }
}

@media ( min-width : 425px ) and ( max-width : 767px ) {

  body {
    background-image: url('../imagens/exchange4.jpg');
    background-size: 120%;
  }

  .paiLogin {
    align-items: center;
    backdrop-filter: blur(3px);
    background: rgba(116, 115, 115, 0.669);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 8px;
    box-shadow: 0 10px 32px 10px rgba(31, 38, 135, 0.37);
    display: flex;
    flex-direction: column;
    height: 360px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    width: 90%;
  }

  .imgLogo {
    margin: 40px 0;
    width: 280px;
  }

  .emailInput , .senhaInput {
    border: 2px solid blue;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
    width: 280px;
  }


  .btnEntrar {
    background: blue;
    border: 0 solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    color: white;
    cursor: pointer;
    font: Tahoma, Geneva, sans-serif;
    font-size: 22px;
    font-weight: 900;
    margin: 5px 15px;
    padding: 10px;
    width: 302px;
  }

  .btnEntrar:disabled {
    background-color: rgb(3, 3, 109);
    color: rgb(96, 96, 96);
  }
}

@media ( min-width : 768px ) and ( max-width : 1023px ) {

  body {
    background-image: url('../imagens/exchange4.jpg');
    background-size: 100% 350%;
  }

  .paiLogin {
    align-items: center;
    backdrop-filter: blur(3px);
    background: rgba(116, 115, 115, 0.669);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 8px;
    box-shadow: 0 10px 32px 10px rgba(31, 38, 135, 0.37);
    display: flex;
    flex-direction: column;
    height: 400px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    width: 70%;
  }

  .imgLogo {
    margin: 40px 0;
    width: 350px;
  }

  .emailInput , .senhaInput {
    border: 2px solid blue;
    border-radius: 5px;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 10px;
    width: 380px;
  }


  .btnEntrar {
    background: blue;
    border: 0 solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    color: white;
    cursor: pointer;
    font: Tahoma, Geneva, sans-serif;
    font-size: 26px;
    font-weight: 900;
    margin: 5px 15px;
    padding: 12px;
    width: 400px;
  }

  .btnEntrar:disabled {
    background-color: rgb(3, 3, 109);
    color: rgb(96, 96, 96);
  }
}

@media ( min-width : 1024px ) and ( max-width : 1300px ) {

  body {
    background-image: url('../imagens/exchange3.jpg');
    background-size: 100% 160%;
  }

  .paiLogin {
    align-items: center;
    backdrop-filter: blur(3px);
    background: rgba(116, 115, 115, 0.669);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 8px;
    box-shadow: 0 10px 32px 10px rgba(31, 38, 135, 0.37);
    display: flex;
    flex-direction: column;
    height: 400px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    width: 60%;
  }

  .imgLogo {
    margin: 40px 0;
    width: 350px;
  }

  .emailInput , .senhaInput {
    border: 2px solid blue;
    border-radius: 5px;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 10px;
    width: 380px;
  }


  .btnEntrar {
    background: blue;
    border: 0 solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    color: white;
    cursor: pointer;
    font: Tahoma, Geneva, sans-serif;
    font-size: 26px;
    font-weight: 900;
    margin: 5px 15px;
    padding: 12px;
    width: 400px;
  }

  .btnEntrar:disabled {
    background-color: rgb(3, 3, 109);
    color: rgb(96, 96, 96);
  }
}

@media ( min-width : 1301px ) {

  body {
    background-image: url('../imagens/exchange3.jpg');
    background-size: 100% 160%;
  }

  .paiLogin {
    align-items: center;
    backdrop-filter: blur(3px);
    background: rgba(116, 115, 115, 0.669);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 8px;
    box-shadow: 0 10px 32px 10px rgba(31, 38, 135, 0.37);
    display: flex;
    flex-direction: column;
    height: 400px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    width: 600px;
  }

  .imgLogo {
    margin: 40px 0;
    width: 350px;
  }

  .emailInput , .senhaInput {
    border: 2px solid blue;
    border-radius: 5px;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 10px;
    width: 380px;
  }


  .btnEntrar {
    background: blue;
    border: 0 solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    color: white;
    cursor: pointer;
    font: Tahoma, Geneva, sans-serif;
    font-size: 26px;
    font-weight: 900;
    margin: 5px 15px;
    padding: 12px;
    width: 400px;
  }

  .btnEntrar:disabled {
    background-color: rgb(3, 3, 109);
    color: rgb(96, 96, 96);
  }
}
