@media ( min-width : 320px ) and ( max-width : 480px ) {

  .headerEwalletForm {
    background-color: rgb(105, 105, 120);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 2px 20px 10px rgba(0, 0, 0, 0.326);
    height: 220px;
    margin: auto;
    position: relative;
    width: 90%;
    z-index: 10;
  }
}
