@media ( min-width : 320px ) and ( max-width : 374px ) {

  header {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Bebas Neue, cursive;
    justify-content: space-between;
    letter-spacing: 2px;
    margin: auto;
    text-align: center;
  }

  .img2Logo {
    margin: 20px 0;
    width: 200px;
  }

  .iconCoin {
    display: none;
  }

  .moneyHeader {
    align-items: center;
    background-color: rgb(218, 211, 211);
    border-radius: 10px;
    box-shadow: 0 2px 10px 2px rgb(57, 57, 57);
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
    max-height: 50px;
    max-width: 90%;
    padding: 10px 0;
    width: 90%;
  }

  .totalHeader {
    font-size: 16px;
    margin: 0 10px;
    max-width: 140px;
    text-align: center;
    width: 70px;
  }

  .valorHeader , .totalAtt {
    color: rgb(6, 6, 6);
    font-size: 16px;
    font-weight: 900;
    height: 24px;
    margin: 0 5px;
    margin-top: 5px;
    max-width: 350px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 350px;
  }

  .brlHeader {
    font-size: 16px;
    font-weight: 900;
    margin: 0 25px 0 5px;
  }

  .profileHeader {
    align-items: center;
    display: flex;
    justify-content: left;
    margin: 8px 0 0;
    width: 95%;
  }

  .iconProfile {
    font-size: 18px;
    margin: 0 0 0 25px;
    color: white;
  }

  .emailHeader {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 900;
    max-width: 250px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    padding: 0 10px;
    white-space: nowrap;
    width: 100%;
  }
}

@media ( min-width : 375px ) and ( max-width : 424px ) {

  header {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Bebas Neue, cursive;
    justify-content: space-between;
    letter-spacing: 2px;
    margin: auto;
    text-align: center;
  }

  .img2Logo {
    margin: 20px 0 30px;
    width: 220px;
  }

  .iconCoin {
    visibility: hidden;
  }

  .moneyHeader {
    align-items: center;
    background-color: rgb(218, 211, 211);
    border-radius: 10px;
    box-shadow: 0 2px 10px 2px rgb(57, 57, 57);
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
    max-height: 50px;
    max-width: 90%;
    padding: 10px 0;
    width: 90%;
  }

  .totalHeader {
    font-size: 16px;
    margin: 0 10px 0 20px;
    max-width: 140px;
    text-align: center;
    width: 70px;
  }

  .valorHeader , .totalAtt {
    color: rgb(6, 6, 6);
    font-size: 18px;
    font-weight: 900;
    height: 24px;
    margin: 0 5px;
    margin-top: 2px;
    max-width: 350px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 350px;
  }

  .brlHeader {
    font-size: 16px;
    font-weight: 900;
    margin: 0 25px 0 5px;
  }

  .profileHeader {
    align-items: center;
    display: flex;
    justify-content: left;
    margin: 8px 0 0;
    width: 85%;
  }

  .iconProfile {
    font-size: 18px;
    margin: 0;
    color: white;
  }

  .emailHeader {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 900;
    max-width: 250px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    padding: 0 10px;
    white-space: nowrap;
    width: 250px;
  }
}

@media ( min-width : 425px ) and ( max-width : 767px ) {

  header {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Bebas Neue, cursive;
    justify-content: space-between;
    letter-spacing: 2px;
    margin: auto;
    text-align: center;
  }

  .img2Logo {
    margin: 15px 0 25px;
    width: 260px;
  }

  .iconCoin {
    visibility: hidden;
  }

  .moneyHeader {
    align-items: center;
    background-color: rgb(218, 211, 211);
    border-radius: 10px;
    box-shadow: 0 2px 10px 2px rgb(57, 57, 57);
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
    max-height: 50px;
    max-width: 90%;
    padding: 10px 0;
    width: 90%;
  }

  .totalHeader {
    font-size: 18px;
    margin: 0 10px;
    max-width: 140px;
    text-align: center;
    width: 120px;
  }

  .valorHeader , .totalAtt {
    color: rgb(6, 6, 6);
    font-size: 20px;
    font-weight: 900;
    height: 24px;
    margin: 0 5px;
    max-width: 350px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 350px;
  }

  .brlHeader {
    font-size: 18px;
    font-weight: 900;
    margin: 0 25px 0 5px;
  }

  .profileHeader {
    align-items: center;
    display: flex;
    justify-content: left;
    margin: 8px 0 0;
    width: 85%;
  }

  .iconProfile {
    font-size: 18px;
    margin: 0;
    color: white;
  }

  .emailHeader {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 900;
    max-width: 250px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    padding: 0 10px;
    white-space: nowrap;
    width: 250px;
  }

}

@media ( min-width : 768px ) and ( max-width : 1023px ) {

  header {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Bebas Neue, cursive;
    justify-content: space-between;
    letter-spacing: 2px;
    margin: auto;
    text-align: center;
  }

  .img2Logo {
    margin: 15px 0 25px;
    width: 260px;
  }

  .iconCoin {
    visibility: hidden;
  }

  .moneyHeader {
    align-items: center;
    background-color: rgb(218, 211, 211);
    border-radius: 10px;
    box-shadow: 0 2px 10px 2px rgb(57, 57, 57);
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
    max-height: 50px;
    max-width: 90%;
    padding: 10px 0;
    width: 85%;
  }

  .totalHeader {
    font-size: 18px;
    margin: 0 10px;
    max-width: 140px;
    text-align: center;
    width: 120px;
  }

  .valorHeader , .totalAtt {
    color: rgb(6, 6, 6);
    font-size: 20px;
    font-weight: 900;
    height: 24px;
    margin: 0 5px;
    max-width: 350px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 350px;
  }

  .brlHeader {
    font-size: 18px;
    font-weight: 900;
    margin: 0 25px 0 5px;
  }

  .profileHeader {
    align-items: center;
    display: flex;
    justify-content: left;
    margin: 8px 0 0;
    width: 80%;
  }

  .iconProfile {
    font-size: 18px;
    margin: 0;
    color: white;
  }

  .emailHeader {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 900;
    max-width: 250px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    padding: 0 10px;
    white-space: nowrap;
    width: 250px;
  }
}

@media ( min-width : 1024px ) and ( max-width : 1300px ) {

  header {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Bebas Neue, cursive;
    justify-content: space-between;
    letter-spacing: 2px;
    margin: auto;
    text-align: center;
  }

  .img2Logo {
    margin: 15px 0 25px;
    width: 260px;
  }

  .iconCoin {
    visibility: hidden;
  }

  .moneyHeader {
    align-items: center;
    background-color: rgb(218, 211, 211);
    border-radius: 10px;
    box-shadow: 0 2px 10px 2px rgb(57, 57, 57);
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
    height: 32px;
    max-height: 50px;
    max-width: 90%;
    padding: 10px 0;
    width: 70%;
  }

  .totalHeader {
    font-size: 18px;
    margin: 0 10px;
    max-width: 140px;
    text-align: center;
    width: 120px;
  }

  .valorHeader , .totalAtt {
    color: rgb(6, 6, 6);
    font-size: 20px;
    font-weight: 900;
    height: 24px;
    margin: 0 5px;
    max-width: 350px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 350px;
  }

  .brlHeader {
    font-size: 18px;
    font-weight: 900;
    margin: 0 25px 0 5px;
  }

  .profileHeader {
    align-items: center;
    display: flex;
    justify-content: left;
    margin: 8px 0 0;
    width: 65%;
  }

  .iconProfile {
    font-size: 18px;
    margin: 0;
    color: white;
  }

  .emailHeader {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 900;
    max-width: 250px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    padding: 0 10px;
    white-space: nowrap;
    width: 250px;
  }
}

@media ( min-width : 1301px ) and ( max-width : 1439px ) {

  header {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Bebas Neue, cursive;
    justify-content: space-around;
    letter-spacing: 2px;
    margin: auto;
    text-align: center;
  }

  .img2Logo {
    margin: 15px 0 20px;
    width: 350px;
  }

  .iconCoin {
    visibility: hidden;
  }

  .moneyHeader {
    align-items: center;
    background-color: rgb(218, 211, 211);
    border-radius: 10px;
    box-shadow: 0 2px 10px 2px rgb(57, 57, 57);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    max-height: 50px;
    max-width: 90%;
    padding: 20px 0;
    width: 60%;
  }

  .totalHeader {
    font-size: 20px;
    margin: 0 10px;
    max-width: 140px;
    text-align: center;
    width: 140px;
  }

  .valorHeader , .totalAtt {
    color: rgb(6, 6, 6);
    font-size: 22px;
    font-weight: 900;
    height: 24px;
    margin: 0 5px;
    max-width: 350px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .brlHeader {
    font-size: 20px;
    margin: 0 25px 0 5px;
  }

  .profileHeader {
    align-items: center;
    display: flex;
    justify-content: left;
    margin: 8px 0 0;
    width: 55%;
  }

  .iconProfile {
    font-size: 20px;
    margin: 0;
    color: white;
  }

  .emailHeader {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 900;
    max-width: 250px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    padding: 0 10px;
    white-space: nowrap;
    width: 250px;
  }
}

@media ( min-width : 1440px ) {
  header {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Bebas Neue, cursive;
    justify-content: space-around;
    letter-spacing: 2px;
    margin: auto;
    text-align: center;
  }

  .img2Logo {
    margin: 15px 0 20px;
    width: 350px;
  }

  .iconCoin {
    visibility: hidden;
  }

  .moneyHeader {
    align-items: center;
    background-color: rgb(218, 211, 211);
    border-radius: 10px;
    box-shadow: 0 2px 10px 2px rgb(57, 57, 57);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    max-height: 50px;
    padding: 20px 0;
    width: 800px;
  }

  .totalHeader {
    font-size: 20px;
    margin: 0 10px;
    max-width: 140px;
    text-align: center;
    width: 140px;
  }

  .valorHeader , .totalAtt {
    color: rgb(6, 6, 6);
    font-size: 22px;
    font-weight: 900;
    height: 24px;
    margin: 0 5px;
    max-width: 350px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .brlHeader {
    font-size: 20px;
    margin: 0 25px 0 5px;
  }

  .profileHeader {
    align-items: center;
    display: flex;
    justify-content: left;
    margin: 8px 0 0;
    width: 700px;
  }

  .iconProfile {
    font-size: 20px;
    margin: 0;
    color: white;
  }

  .emailHeader {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 900;
    max-width: 250px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    padding: 0 10px;
    white-space: nowrap;
    width: 250px;
  }
}