@media ( min-width : 320px ) and ( max-width : 374px ) {

  .tableDivPai {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
  }

  body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
  }

  *{
    box-sizing: border-box;
  }

  table {
    position: absolute;
    top: 640px;
    border-collapse: collapse;
  }

  table td, table th {
    padding: 12px 15px;
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
  }

  table th {
    background-color: #0f18cb;
    color: white;
  }

  table tbody tr:nth-child(even)  {
    background-color: #5dce9f;
  }

  table tbody tr:nth-child(odd)  {
    background-color: rgb(245, 245, 245);
  }

  table thead {
    display: none;
  }

  table, table tbody, table tr, table td {
    display: block;
    width: 100%;
  }

  table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  table td::before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }

  table td:last-child {
    padding: 10px;
    margin: 0 auto;
    text-align: center;
  }

  table {
    padding: 10px 0;
  }

  .editDel2 button {
    all: unset;
    padding: 6px 8px;
    width: 100px;
    border: 1px solid black;
    cursor: pointer;
    color: white;
    border-radius: 6px;
  }

  .editDel2 button:nth-child(1){
    background-color: #264cc7;
    box-shadow: 2px 2px 2px rgb(63, 63, 63);
    font-weight: bold;
    margin: 5px;
  }

  .editDel2 button:nth-child(2){
    background-color: #c73126;
    box-shadow: 2px 2px 2px rgb(63, 63, 63);
    font-weight: bold;
    margin: 5px;
  }
}

@media ( min-width : 375px ) and ( max-width : 424px ) {

  .tableDivPai {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
  }

  body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
  }

  *{
    box-sizing: border-box;
  }

  table {
    position: absolute;
    top: 640px;
    border-collapse: collapse;
  }

  table td, table th {
    padding: 12px 15px;
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
  }

  table th {
    background-color: #0f18cb;
    color: white;
  }

  table tbody tr:nth-child(even)  {
    background-color: #5dce9f;
  }

  table tbody tr:nth-child(odd)  {
    background-color: rgb(245, 245, 245);
  }

  table thead {
    display: none;
  }

  table, table tbody, table tr, table td {
    display: block;
    width: 100%;
  }

  table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  table td::before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }

  table td:last-child {
    padding: 10px;
    margin: 0 auto;
    text-align: center;
  }

  .editDel2 button {
    all: unset;
    padding: 6px 8px;
    width: 100px;
    border: 1px solid black;
    cursor: pointer;
    color: white;
    border-radius: 6px;
  }

  .editDel2 button:nth-child(1){
    background-color: #264cc7;
    box-shadow: 2px 2px 2px rgb(63, 63, 63);
    font-weight: bold;
    margin: 5px;
  }

  .editDel2 button:nth-child(2){
    background-color: #c73126;
    box-shadow: 2px 2px 2px rgb(63, 63, 63);
    font-weight: bold;
    margin: 5px;
  }
}

@media ( min-width : 425px ) and ( max-width : 767px ) {

  .tableDivPai {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
  }

  body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
  }

  *{
    box-sizing: border-box;
  }

  table {
    position: absolute;
    top: 640px;
    border-collapse: collapse;
    margin-top: 60px;
  }

  table td, table th {
    padding: 12px 15px;
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
  }

  table th {
    background-color: #0f18cb;
    color: white;
  }

  table tbody tr:nth-child(even)  {
    background-color: #5dce9f;
  }

  table tbody tr:nth-child(odd)  {
    background-color: rgb(245, 245, 245);
  }

  table thead {
    display: none;
  }

  table, table tbody, table tr, table td {
    display: block;
    width: 100%;
  }

  table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  table td::before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }

  table td:last-child {
    padding: 10px;
    margin: 0 auto;
    text-align: center;
  }

  .editDel2 button {
    all: unset;
    padding: 6px 8px;
    width: 100px;
    border: 1px solid black;
    cursor: pointer;
    color: white;
    border-radius: 6px;
  }

  .editDel2 button:nth-child(1){
    background-color: #264cc7;
    box-shadow: 2px 2px 2px rgb(63, 63, 63);
    font-weight: bold;
    margin: 5px;
  }

  .editDel2 button:nth-child(2){
    background-color: #c73126;
    box-shadow: 2px 2px 2px rgb(63, 63, 63);
    font-weight: bold;
    margin: 5px;
  }
}

@media ( min-width : 768px ) and ( max-width : 1023px ) {

  table {
    background-color: #474747;
    border-radius: 6px;
    padding: 5px;
  }

  table thead {
    background-color: #4777e0;
  }

  table tbody {
    background-color: #fcfcfc;
  }

  table tbody tr:nth-child(even) {
    background-color: #ececec;
  }

  tbody tr td:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
  }

  .tableDivPai {
    position: absolute;
    top: 575px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
  }

  .tablePai {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    margin: auto;
    padding: 5px 0;
    position: absolute;
    top: 590px;
    width: 100%;
  }

  .editDel2 {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .btnEditTable {
    background: #0f18cb;
    border: 0 solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    color: white;
    cursor: pointer;
    font: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    font-weight: 900;
    padding: 5px 0;
    margin-bottom: 5px;
    width: 90%;
  }

  .btnDelTable {
    background: #cb0f21;
    border: 0 solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    color: white;
    cursor: pointer;
    font: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    font-weight: 900;
    padding: 5px 0;
    margin-bottom: 5px;
    width: 90%;
  }

  .paiResultTable {
    width: 100%;
  }

  .desc {
    border-top-left-radius: 6px;
  }

  .editDel {
    border-top-right-radius: 6px;
  }

  .desc , .tag , .value {
    color: white;
    font-size: 12px;
    max-width: 130px;
    padding: 5px;
    text-align: center;
    width: 130px;
  }

  .method {
    color: white;
    font-size: 10px;
    max-width: 130px;
    padding: 5px;
    text-align: center;
    width: 130px;
  }

  .moeda , .cambio , .valueConv , .editDel {
    color: white;
    font-size: 12px;
    max-width: 130px;
    padding: 5px;
    text-align: center;
    width: 130px;
  }

  .desc2 , .tag2 , .method2 , .value2 {
    border-bottom: 1px solid black;
    font-size: 12px;
    max-width: 130px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
  }

  .moeda2 , .cambio2 , .valueConv2 , .editDel2 {
    border-bottom: 1px solid black;
    font-size: 12px;
    max-width: 130px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
  }
}

@media ( min-width : 1024px ) and ( max-width : 1300px ) {

  table {
    background-color: #474747;
    border-radius: 6px;
    padding: 5px;
  }

  table thead {
    background-color: #4777e0;
  }

  table tbody {
    background-color: #fcfcfc;
  }

  table tbody tr:nth-child(even) {
    background-color: #ececec;
  }

  tbody tr td:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
  }

  .tableDivPai {
    position: absolute;
    top: 510px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
  }

  .tablePai {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    margin: auto;
    padding: 5px 0;
    position: absolute;
    top: 590px;
    width: 100%;
  }

  .editDel2 {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .btnEditTable {
    background: #0f18cb;
    border: 0 solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    color: white;
    cursor: pointer;
    font: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    font-weight: 900;
    padding: 5px 0;
    margin-bottom: 5px;
    width: 90%;
  }

  .btnDelTable {
    background: #cb0f21;
    border: 0 solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    color: white;
    cursor: pointer;
    font: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    font-weight: 900;
    padding: 5px 0;
    margin-bottom: 5px;
    width: 90%;
  }

  .paiResultTable {
    width: 100%;
  }

  .desc {
    border-top-left-radius: 6px;
  }

  .editDel {
    border-top-right-radius: 6px;
  }

  .desc , .tag , .value {
    color: white;
    font-size: 12px;
    max-width: 130px;
    padding: 5px;
    text-align: center;
    width: 130px;
  }

  .method {
    color: white;
    font-size: 10px;
    max-width: 130px;
    padding: 5px;
    text-align: center;
    width: 130px;
  }

  .moeda , .cambio , .valueConv , .editDel {
    color: white;
    font-size: 12px;
    max-width: 130px;
    padding: 5px;
    text-align: center;
    width: 130px;
  }

  .desc2 , .tag2 , .method2 , .value2 {
    border-bottom: 1px solid black;
    font-size: 12px;
    max-width: 130px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
  }

  .moeda2 , .cambio2 , .valueConv2 , .editDel2 {
    border-bottom: 1px solid black;
    font-size: 12px;
    max-width: 130px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
  }
}

@media ( min-width : 1301px ) and ( max-width : 1439px ) {

  table {
    background-color: #474747;
    border-radius: 6px;
    padding: 5px;
  }

  table thead {
    background-color: #4777e0;
  }

  table tbody {
    background-color: #fcfcfc;
  }

  table tbody tr:nth-child(even) {
    background-color: #ececec;
  }

  tbody tr td:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
  }

  .tableDivPai {
    position: absolute;
    top: 510px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
  }

  .tablePai {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    margin: auto;
    padding: 5px 0;
    position: absolute;
    top: 590px;
    width: 100%;
  }

  .editDel2 {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .btnEditTable {
    background: #0f18cb;
    border: 0 solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    color: white;
    cursor: pointer;
    font: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    font-weight: 900;
    padding: 5px 0;
    margin-bottom: 5px;
    width: 90%;
  }

  .btnDelTable {
    background: #cb0f21;
    border: 0 solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    color: white;
    cursor: pointer;
    font: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    font-weight: 900;
    padding: 5px 0;
    margin-bottom: 5px;
    width: 90%;
  }

  .paiResultTable {
    width: 100%;
  }

  .desc {
    border-top-left-radius: 6px;
  }

  .editDel {
    border-top-right-radius: 6px;
  }

  .desc , .tag , .value {
    color: white;
    font-size: 12px;
    max-width: 130px;
    padding: 5px;
    text-align: center;
    width: 130px;
  }

  .method {
    color: white;
    font-size: 10px;
    max-width: 130px;
    padding: 5px;
    text-align: center;
    width: 130px;
  }

  .moeda , .cambio , .valueConv , .editDel {
    color: white;
    font-size: 12px;
    max-width: 130px;
    padding: 5px;
    text-align: center;
    width: 130px;
  }

  .desc2 , .tag2 , .method2 , .value2 {
    border-bottom: 1px solid black;
    font-size: 12px;
    max-width: 130px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
  }

  .moeda2 , .cambio2 , .valueConv2 , .editDel2 {
    border-bottom: 1px solid black;
    font-size: 12px;
    max-width: 130px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
  }
}

@media ( min-width : 1440px ) {

  table {
    background-color: #474747;
    border-radius: 6px;
    padding: 5px;
    width: 1450px;
  }

  table thead {
    background-color: #4777e0;
  }

  table tbody {
    background-color: #fcfcfc;
  }

  table tbody tr:nth-child(even) {
    background-color: #ececec;
  }

  tbody tr td:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    margin: 0 auto;
  }

  .tableDivPai {
    position: absolute;
    top: 510px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
  }

  .tablePai {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    margin: auto;
    padding: 5px 0;
    position: absolute;
    top: 590px;
    width: 100%;
  }

  .editDel2 {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .btnEditTable {
    background: #0f18cb;
    border: 0 solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgb(104, 104, 104);
    color: white;
    cursor: pointer;
    font: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    font-weight: 900;
    padding: 5px 0;
    margin-bottom: 5px;
    width: 90%;
  }

  .btnDelTable {
    background: #cb0f21;
    border: 0 solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgb(104, 104, 104);
    color: white;
    cursor: pointer;
    font: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    font-weight: 900;
    padding: 5px 0;
    margin-bottom: 5px;
    width: 90%;
  }

  .paiResultTable {
    width: 100%;
  }

  .desc {
    border-top-left-radius: 6px;
  }

  .editDel {
    border-top-right-radius: 6px;
  }

  .desc , .tag , .value {
    color: white;
    font-size: 12px;
    max-width: 130px;
    padding: 5px;
    text-align: center;
    width: 130px;
  }

  .method {
    color: white;
    font-size: 10px;
    max-width: 130px;
    padding: 5px;
    text-align: center;
    width: 130px;
  }

  .moeda , .cambio , .valueConv , .editDel {
    color: white;
    font-size: 12px;
    max-width: 130px;
    padding: 5px;
    text-align: center;
    width: 130px;
  }

  .desc2 , .tag2 , .method2 , .value2 {
    border-bottom: 1px solid black;
    font-size: 12px;
    max-width: 130px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
  }

  .moeda2 , .cambio2 , .valueConv2 , .editDel2 {
    border-bottom: 1px solid black;
    font-size: 12px;
    max-width: 130px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
  }
}
